.contact
    padding-left: 1.625rem
    padding-right: 2.06rem
    padding-bottom: 2.74rem
    &__info
        margin-bottom: 3.31rem
        &__title
            font-size: 2.5rem
            font-weight: 400
            margin-bottom: 0.31rem
        &__subtitle
            margin-bottom: 2.375rem
            font-family: "Open Sans"
        &__contact-method
            font-family: "Open Sans"
            &__icon
                &--mail
                    display: inline-block
                    margin-right: 0.474rem
                    margin-bottom: 0.625rem
                &--phone
                    width: 20px
                    height: 20px
                    display: inline-block
                    margin-right: 0.5rem
            &__text
                display: inline-block
                color: #A5A5A5
                vertical-align: top

    &__form
        &__input-container
            &__label
                display: inline-block
                color: #08A6E4
                margin-bottom: 2.625rem
                font-family: "Open Sans"
                font-size: 0.688rem
            &__input
                width: 100%
                border: none
                border-bottom: 1px solid #95989A
                &--1
                    margin-bottom: 2.625rem
                &--2
                    margin-bottom: 1.94rem
        &__policies
            margin-bottom: 2.06rem
            padding-right: 0.315rem
            &__check
                width: 24px
                height: 24px
                margin-right: 0.625rem
                color: #95989A
                border-radius: 4px
                &:checked
                    background-color: green
                    color: green
            &__text
                width: 87%
                font-size: 0.75rem
                font-family: "Open Sans"
                display: inline-block
                vertical-align: top
                color: #707070
        &__button-container
            text-align: right
            &__button
                padding: 1.25rem 6.06rem
                border: 0
                border-radius: 2.19rem
                color: white
                background-color: #08A6E4
                box-shadow: 0.31rem 0.625rem 0.875rem 0rem #07ACE64A

@media only screen and (min-width: 1000px)
    .contact
        display: grid
        grid-template-columns: repeat(2, 1fr)
        padding-left: 5%
        padding-right: 5%
        &__info
            justify-self: center
            &__contact-method
                display: inline-block
                &__icon
                    &--phone 
                        margin-bottom: 0.5rem
                &__text
                    &--1
                        margin-right: 1.25rem
        &__form
            justify-self: center
            &__policies
                &__text
                    max-width: 405px

@media only screen and (min-width: 1200px)
    .contact
        &__info
            &__contact-method
                display: inline-block