.footer
    position: relative
    box-shadow: 0rem -0.31rem 2.5rem 0rem #00000033
    padding: 1.375rem 1.875rem 1.375rem 1rem
    &__text
        &__logo
            font-size: 1.625rem
            color: #08A6E4
            margin-bottom: 0.033rem
        &__copy
            font-size: 0.688rem
            color: #A5A5A5

    &__social
        position: absolute
        top: 2rem
        right: 1.875rem
        padding-bottom: 0.688rem
        &__icon
            display: inline-block
            &--twitter
                margin-right: 1rem
