.header
    text-align: center
    padding-top: 100px

    &__cta
        padding-left: 2rem
        padding-right: 2rem
        &__title
            font-size: 35px
            font-weight: 400
            font-family: Raleway
            margin-bottom: 20px
        &__text
            margin-bottom: 28px
            font-family: "Open Sans"
            line-height: 23px
        &__button
            border-radius: 40px
            color: white
            background-color: #08A6E4
            border: 0
            padding: 1.375rem 5.75rem  

    &__image
        width: 100%
        margin-bottom: 2.5rem

    &__facts
        padding-left: 2.25rem
        padding-right: 2.25rem
        padding-bottom: 3.125rem
        &__title
            font-size: 1.875rem
            font-family: Raleway
            font-weight: 300
            margin-bottom: 1.56rem
        &__item
            margin-bottom: 1.5rem
            &__svg
                margin-bottom: 1rem
                &__elipse1
                    transform: translate(40%, 10%)
                &__elipse
                    transform: translate(50%, 10%)
                &__person
                    transform: translate(-15%)
                &__eye
                    transform: translate(-20%, -20%)
                &__catalog
                    transform: translate(-15%, -7.5%)
            &__number
                margin-bottom: 1.18em
                font-weight: 800
