.header
    text-align: center
    padding-top: 6.25rem
    overflow: hidden

    &__cta
        padding-left: 2rem
        padding-right: 2rem
        margin-bottom: 3.188rem
        &__title
            font-size: 2.188rem
            font-weight: 400
            font-family: Raleway
            margin-bottom: 1.25rem
        &__text
            margin-bottom: 1.75rem
            font-family: "Open Sans"
            line-height: 1.438rem
        &__button
            border-radius: 2.5rem
            color: white
            background-color: #08A6E4
            border: 0
            padding: 1.375rem 5.75rem  

    &__image
        width: 100%
        margin-bottom: 2.5rem
        transform: scale(2)

    &__facts
        padding-left: 2.25rem
        padding-right: 2.25rem
        padding-bottom: 3.125rem
        &__title
            font-size: 1.875rem
            font-family: Raleway
            font-weight: 300
            margin-bottom: 1.56rem
        &__item
            margin-bottom: 1.5rem
            &__svg
                margin-bottom: 1rem
                &__elipse1
                    transform: translate(40%, 10%)
                &__elipse
                    transform: translate(50%, 10%)
                &__person
                    transform: translate(-20%)
                &__eye
                    transform: translate(-20%, -20%)
                &__catalog
                    transform: translate(-15%, -7.5%)
            &__number
                letter-spacing: 0.37rem
                margin-bottom: 1.18rem
                font-weight: 800

            &__text
                &--1
                    color: #A5A5A5
                    font-size: 1.063rem
                    margin-left: 50%
                    transform: translateX(-50%)
                    width: 25.3%
                &--2
                    color: #A5A5A5
                    margin-left: 50%
                    transform: translateX(-50%)
                    width: 47%
                &--3
                    color: #A5A5A5
                    font-size: 1.063rem
                    margin-left: 50%
                    transform: translateX(-50%)
                    width: 43.5%