.nav
    width: 100%
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4)
    padding: 1em 1.5em
    margin-bottom: 100px


    &__logo
        display: inline-block
        color: #08A6E4
        font-size: 32px

    &__menu
        text-align: right
        color: #08A6E4

    &__list   
        display: inline-block

        &__page
            display: none   




