.nav
    width: 100%
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4)
    padding: 1em 1.5em
    position: relative
    max-height: 4.375rem
    transition: max-height 300ms linear
    &:active
        max-height: 14.688rem
        position: absolute
        z-index: 1
        padding-bottom: 1.188rem
        background-color: white
        ~ .header
            padding-top: 10.625rem
        .nav__logo
            display: block
            margin-bottom: 2.875rem
        .nav__list__page
            display: block
        .nav__menu
            display: none
            visibility: hidden
            opacity: 0
        .nav__close
            visibility: visible
            opacity: 1
            position: absolute
            right: 1.875rem
            top: 1.5rem
            color: var(--oxy-light-blue)


    &__logo
        display: inline-block
        color: var(--oxy-light-blue)
        font-size: 2rem
        font-weight: 300
        font-family: Raleway

    &__menu
        position: absolute
        right: 1.875rem
        top: 1.5rem
        color: var(--oxy-light-blue)
        opacity: 1
        transition: opacity 300ms linear

    &__close
        visibility: hidden
        opacity: 0
        transition: opacity 300ms linear

    &__list   
        display: inline-block

        &__page
            font-family: "Open Sans"
            font-size: 0.688rem
            color: var(--oxy-light-gray)
            display: none
            margin-bottom: 0.875rem
            &--active
                color: black
            & a
                text-decoration: none
                color: unset  


@media only screen and (min-width: 1000px)
    .nav
        padding-top: 0
        padding-bottom: 0
        padding-left: 7.073% 
        padding-right: 8.365%
        display: flex
        justify-content: space-between
        &:active
            position: initial 
            padding-bottom: initial
            ~ .header
                padding-top: 8rem
            .nav__logo
                display: initial
                margin-bottom: 1rem
            .nav__close
                display: none
        &__logo
            margin: 1rem 0
            margin-right: 36.593%
        &__menu
            display: none
        &__close
            display: none
        &__list
            flex-grow: 1
            display: flex
            justify-content: space-between
            text-align: center
            padding-top: 1.75rem
            &__page
                width: 20%
                display: block
                font-weight: 700
                margin-bottom: unset
                &:hover
                    color: black
                &--active
                    border-bottom: 4px solid var(--oxy-blue)
                    

