.pricing
    padding: 3.75rem 2.57rem 3.31rem
    text-align: center
    &__title
        font-size: 36px
        font-weight: 400
        margin-bottom: 1rem

    &__tier-container
        &__tier
            position: relative
            border-radius: 18px
            padding-top: 1.57rem 
            padding-bottom: 1.93rem 
            padding-right: 0.63rem
            margin-bottom: 54px
            &__left-side
                width: 50%
                height: 100%
                display: inline-block
                &__name
                    font-size: 20px
                &__price
                    font-size: 46px
            &__list
                display: inline-block 
                list-style-type: none
                text-align: left
                &__item
                    margin-bottom: 20px
            &__button
                position: absolute
                display: block
                color: white
                padding: 1rem 3.5rem
                border: 0
                border-radius: 23px
                left: 50%
                transform: translateX(-50%)
        
        .tier1
            border: 1px solid var(--oxy-red)
            .left1
                transform: translateY(-80%)
        .price1
            color: var(--oxy-red)
        .button1
            background-color: var(--oxy-red)

        .tier2
            border: 1px solid var(--oxy-blue)
            .left2
                transform: translateY(-25%)
        .price2
            color: var(--oxy-blue)
        .button2
            background-color: var(--oxy-blue)

        .tier3
            border: 1px solid var(--oxy-green)
            .left3
                transform: translateY(-40%)
        .price3
            color: var(--oxy-green)
        .button3
            background-color: var(--oxy-green)