.pricing
    padding: 3.75rem 2.57rem 3.31rem
    text-align: center
    &__title
        font-size: 2.25rem
        font-weight: 400
        margin-bottom: 1rem
    &__tier-container        
        &__tier
            border-radius: 1.125rem
            padding-top: 1.57rem 
            padding-bottom: 1.93rem 
            padding-right: 0.63rem
            margin-bottom: 3.375rem
            border-style: solid
            border-width: 1px
            &--basic
                border-color: var(--oxy-red)
            &--professional
                border-color: var(--oxy-blue)
            &--premium
                border-color: var(--oxy-green)
            &__left-side
                width: 50%
                height: 100%
                display: inline-block
                transform: translateY(-25%)
                &--1
                    transform: translateY(-50%)      
                &__name
                    font-size: 1.25rem
                    font-weight: 700
                &__price
                    font-weight: 100
                    &--1
                        font-size: 2.875rem
                        font-family: "Open Sans"
                        color: var(--oxy-red)
                    &--2
                        font-size: 2.875rem
                        font-family: "Open Sans"
                        color: var(--oxy-blue)
                    &--3
                        font-size: 2.875rem
                        font-family: "Open Sans"
                        color: var(--oxy-green)
                &__limited
                    font-weight: 600
                    font-size: 0.75rem
            &__list
                display: inline-block 
                list-style-type: none
                text-align: left
                font-family: "Open Sans"
                font-size: 0.875rem
                &__item
                    margin-bottom: 1.25rem
                    &--checkbox img
                        margin-right: 0.625rem
            &__button
                position: absolute
                display: block
                color: white
                padding: 1rem 3.598rem
                border: 0
                border-radius: 1.438rem
                left: 50%
                transform: translateX(-50%)
                font-family: "Open Sans"
                cursor: pointer
                &--basic
                    background-color: var(--oxy-red)
                &--professional
                    background-color: var(--oxy-blue)
                &--premium
                    background-color: var(--oxy-green)                 

@media only screen and (min-width: 1000px)
    .pricing
        &__title
            margin-bottom: 3.125rem
        &__tier-container
            display: flex
            justify-content: space-around
            &__tier
                width: 23%
                padding-right: unset
                padding-bottom: unset
                transition: transform 150ms 0ms linear, box-shadow 500ms 0ms linear
                &:hover
                    transform: scale(1.15)
                    transition: transform 200ms 0ms linear, box-shadow 100ms 0ms linear
                &--basic
                    &:hover
                        box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-red-hover)
                &--professional
                    &:hover
                        box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-blue-hover)
                &--premium
                    &:hover
                        box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-green-hover)
                &__left-side
                    display: block
                    margin-left: 50%
                    transform: translate(-50%)
                    height: unset
                    margin-bottom: 3.125rem
                    &--1
                        margin-bottom: 4.312rem
                &__list
                    text-align: center
                &__button
                    position: relative
                    top: 1.5rem
                    &--basic
                        &:hover
                            box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-red-hover)
                    &--professional
                        &:hover
                            box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-blue-hover)
                    &--premium
                        &:hover
                            box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-green-hover)
                        
@media only screen and (min-width: 1200px)
    .pricing
        padding-left: 10%
        padding-right: 10%
        &__tier-container
            &__tier
                width: 27%