.hidden
    display: none
    
.slider
    margin-bottom: 5rem
    display: flex
    justify-content: center
    position: relative
    &__btn
        position: absolute
        top: 50%
        transform: translateY(-50%)
        border-radius: 50%
        padding: 1% 1.5%
        cursor: pointer
        color: white
        background-color: #08A6E4
        border: 1px solid #08A6E4
        box-shadow: inset -0.625rem -0.625rem 0.875rem 0rem #00000016, 0.625rem 0.625rem 0.875rem 0rem #00000056
        &--left
            left: 10%
        &--right
            right: 10%
        &__icon
            color: white
            font-size: 1rem
    &__image-container
        display: flex
        justify-content: center
        &__image
            width: 100%

@media only screen and (min-width: 1000px)
    .slider
        &__btn
            padding: 1.5% 1.5%
            &--left
                left: 15%
            &--right
                right: 15%
            &__icon
                font-size: 24px
        &__image-container
            width: 1000px
            height: 500px

@media only screen and (min-width: 1200px)
    .slider
        &__btn
            &--left
                left: 25%
            &--right
                right: 25%