* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Raleway;
}

:root {
  --oxy-red: #EB476E;
  --oxy-red-hover: #EB476E4A;
  --oxy-blue: #07ACE6;
  --oxy-blue-hover: #07ACE64A;
  --oxy-light-blue: #08A6E4;
  --oxy-blue-shadow: #07ACE64A;
  --oxy-green: #55DFB4;
  --oxy-green-hover: #55DFB44A;
  --background-gray: #F7F7F7;
  --oxy-light-gray: #A5A5A5;
  --policies-text-color: #707070;
  --input-border-color: #95989A;
}

.input--rejected {
  border-bottom: 1.5px solid red !important;
}

.policies-check--rejected {
  outline: 1.5px solid red !important;
}

.contact {
  padding-left: 1.625rem;
  padding-right: 2.06rem;
  padding-bottom: 2.74rem;
}
.contact__info {
  margin-bottom: 3.31rem;
}
.contact__info__title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.31rem;
}
.contact__info__subtitle {
  margin-bottom: 2.375rem;
  font-family: "Open Sans";
}
.contact__info__contact-method {
  font-family: "Open Sans";
}
.contact__info__contact-method__icon--mail {
  display: inline-block;
  margin-right: 0.474rem;
  margin-bottom: 0.625rem;
}
.contact__info__contact-method__icon--phone {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.5rem;
}
.contact__info__contact-method__text {
  display: inline-block;
  color: var(--oxy-light-gray);
  vertical-align: top;
}
.contact__form__input-container__label {
  display: inline-block;
  color: var(--oxy-light-blue);
  margin-bottom: 1.625rem;
  font-family: "Open Sans";
  font-size: 0.688rem;
}
.contact__form__input-container__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--input-border-color);
}
.contact__form__input-container__input--1 {
  margin-bottom: 2.625rem;
}
.contact__form__input-container__input--2 {
  margin-bottom: 1.94rem;
}
.contact__form__policies {
  margin-bottom: 2.06rem;
  padding-right: 0.315rem;
}
.contact__form__policies__check {
  width: 24px;
  height: 24px;
  margin-right: 0.625rem;
  border-radius: 4px;
}
.contact__form__policies__text {
  width: 87%;
  font-size: 0.75rem;
  font-weight: 350;
  font-family: "Open Sans";
  display: inline-block;
  vertical-align: top;
  color: var(--policies-text-color);
}
.contact__form__button-container {
  text-align: right;
}
.contact__form__button-container__button {
  padding: 1.25rem 6.06rem;
  border: 0;
  border-radius: 2.19rem;
  color: white;
  background-color: #08A6E4;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem rgba(7, 172, 230, 0.2901960784);
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5%;
    padding-right: 5%;
  }
  .contact__info {
    justify-self: center;
  }
  .contact__info__title {
    margin-bottom: 1.375rem;
  }
  .contact__info__contact-method {
    display: inline-block;
  }
  .contact__info__contact-method__icon--phone {
    margin-bottom: 0.5rem;
  }
  .contact__info__contact-method__text--1 {
    margin-right: 1.25rem;
  }
  .contact__form {
    justify-self: center;
  }
  .contact__form__policies__text {
    max-width: 405px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.footer {
  position: relative;
  box-shadow: 0rem -0.31rem 2.5rem 0rem rgba(0, 0, 0, 0.2);
  padding: 1.375rem 4.53% 1.375rem;
}
.footer__text__logo {
  font-size: 1.625rem;
  color: var(--oxy-light-blue);
  margin-bottom: 0.033rem;
  cursor: pointer;
}
.footer__text a {
  text-decoration: none;
  color: inherit;
}
.footer__text__copy {
  font-size: 0.688rem;
  color: var(--oxy-light-gray);
}
.footer__social {
  position: absolute;
  top: 2rem;
  right: 1.875rem;
  padding-bottom: 0.688rem;
  cursor: pointer;
}
.footer__social__icon {
  display: inline-block;
}
.footer__social__icon--twitter {
  margin-right: 1rem;
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding-left: 8.43%;
    padding-right: 8.43%;
  }
  .footer__social {
    right: 8.43%;
  }
}
.header {
  text-align: center;
  padding-top: 10rem;
  overflow: hidden;
}
.header__cta {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 8.25rem;
}
.header__cta__title {
  font-size: 2.188rem;
  font-weight: 330;
  font-family: Raleway;
  margin-bottom: 1.25rem;
}
.header__cta__text {
  width: 82.1%;
  margin-bottom: 1.75rem;
  font-family: "Open Sans";
  font-weight: 350;
  line-height: 1.438rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.header__cta__button {
  border-radius: 2.5rem;
  color: white;
  background-color: var(--oxy-light-blue);
  border: 0;
  padding: 1.375rem 5.75rem;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem var(--oxy-blue-shadow);
  cursor: pointer;
}
.header__image {
  width: 100%;
  height: 100%;
  transform: scale(2) translateY(-10%);
}

@media only screen and (min-width: 1000px) {
  .header {
    padding-top: 13rem;
  }
  .header__cta {
    margin-bottom: 0;
  }
  .header__cta__text {
    width: 100%;
    margin-left: 0;
    transform: translate(0%);
  }
  .header__cta__button {
    padding: 1.375rem 9.75rem;
  }
  .header__image {
    transform: scale(1);
    margin-bottom: 2rem;
  }
}
.main {
  text-align: center;
  padding: 2.62rem 1.875rem;
  background-color: var(--background-gray);
}
.main__item {
  background-color: white;
  padding-bottom: 1.875rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin-bottom: 2.563rem;
}
.main__item--1 {
  padding-top: 2.32rem;
}
.main__item--2 {
  padding-top: 0.75rem;
}
.main__item--3 {
  text-align: left;
  padding-top: 1.94rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 0;
}
.main__item__image-container {
  margin-bottom: 1.689rem;
  position: relative;
}
.main__item__image-container__elipse {
  position: absolute;
}
.main__item__image-container__elipse--1 {
  transform: translate(110%, -25%);
}
.main__item__image-container__elipse--1-desktop {
  display: none;
}
.main__item__image-container__elipse--2 {
  width: 132px;
  height: 132px;
  transform: translate(20%);
}
.main__item__image-container__image--1 {
  width: 192px;
  height: 109.93px;
  transform: translate(0%);
}
.main__item__image-container__image--2 {
  width: 175px;
  height: 135px;
  transform: translate(15%, 7.5%);
}
.main__item__text-container {
  text-align: left;
}
.main__item__text-container__title {
  font-size: 1.875rem;
  font-weight: 300;
}
.main__item__text-container__title--1 {
  margin-bottom: 3.75rem;
}
.main__item__text-container__title--2 {
  width: 80%;
  margin-bottom: 1.06rem;
}
.main__item__text-container__title--3 {
  width: 87%;
  margin-bottom: 1.65rem;
}
.main__item__text-container__description {
  font-size: 0.875rem;
  font-family: "Open Sans";
  font-weight: 380;
}
.main__item__text-container__description--3 {
  width: 95%;
  font-size: 1rem;
}
.main__item__text-container__line {
  display: none;
}
.main__trumpet-container {
  background-color: var(--oxy-green);
}
.main__trumpet-container__image {
  transform: translate(-5%, 15%);
}

@media only screen and (min-width: 1000px) {
  .main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .main__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5.688rem;
    padding-bottom: 5.688rem;
  }
  .main__item--1 {
    padding-right: 5%;
    padding-left: 3%;
  }
  .main__item--2 {
    padding-top: 1.812rem;
    padding-bottom: 0.5rem;
  }
  .main__item--3 {
    width: 55%;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-left: 3%;
    display: inline-block;
    margin-right: 5%;
  }
  .main__item__text-container--1 {
    justify-self: start;
  }
  .main__item__text-container--2 {
    justify-self: end;
  }
  .main__item__text-container--3 {
    width: 80%;
    display: block;
  }
  .main__item__text-container__title {
    font-size: 2.25rem;
  }
  .main__item__text-container__title--2 {
    min-width: 259px;
    max-width: 316px;
    margin-top: 4.313rem;
  }
  .main__item__text-container__title--3 {
    min-width: 338px;
    max-width: 348px;
  }
  .main__item__text-container__description {
    margin-bottom: 3.125rem;
    width: 80%;
    max-width: 375px;
    min-width: 370px;
  }
  .main__item__text-container__description--3 {
    width: 100%;
    max-width: 413px;
    min-width: 413px;
  }
  .main__item__text-container__line {
    display: block;
  }
  .main__item__image-container--1 {
    order: 2;
    justify-self: end;
    transform: translateX(-15%);
  }
  .main__item__image-container--2 {
    justify-self: start;
  }
  .main__item__image-container__elipse--1 {
    display: none;
  }
  .main__item__image-container__elipse--1-desktop {
    display: block;
    width: 180px;
    height: 180px;
    transform: translate(125%, 0%);
  }
  .main__item__image-container__elipse--2 {
    width: 320px;
    height: 320px;
  }
  .main__item__image-container__image {
    width: initial;
    height: initial;
  }
  .main__item__image-container__image--1 {
    transform: translateY(35%);
  }
  .main__item__image-container__image--2 {
    transform: translate(15%, 5%);
  }
  .main__trumpet-container {
    width: 39.15%;
    display: inline-block;
    padding-top: 2rem;
    padding-bottom: 7.75rem;
  }
  .main__trumpet-container__image {
    transform: translateY(30%);
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1em 1.5em;
  max-height: 4.375rem;
  transition: max-height 300ms linear;
}
.nav--open {
  max-height: 14.688rem;
  z-index: 1;
  padding-bottom: 1.188rem;
  background-color: white;
}
.nav__content-container__logo {
  display: inline-block;
  color: var(--oxy-light-blue);
  font-size: 2rem;
  font-weight: 300;
  font-family: Raleway;
  cursor: pointer;
}
.nav__content-container__menu {
  position: absolute;
  right: 1.875rem;
  top: 1.5rem;
  color: var(--oxy-light-blue);
  opacity: 1;
  transition: opacity 300ms linear;
  cursor: pointer;
}
.nav__content-container__close {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms linear;
  cursor: pointer;
}
.nav__content-container__list {
  display: inline-block;
}
.nav__content-container__list__page {
  font-family: "Open Sans";
  font-size: 0.688rem;
  color: var(--oxy-light-gray);
  display: none;
  margin-bottom: 0.875rem;
}
.nav__content-container__list__page--active {
  color: black;
}
.nav__content-container__list__page a {
  text-decoration: none;
  color: unset;
}
.nav__percentage-scroller {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 0.3rem;
  width: 0;
  background-color: var(--oxy-blue);
}

@media only screen and (min-width: 1000px) {
  .nav {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 7.073%;
    padding-right: 8.365%;
    justify-content: space-between;
  }
  .nav__content-container {
    display: flex;
  }
  .nav__content-container__logo {
    margin: 1rem 0;
    margin-right: 36.593%;
  }
  .nav__content-container__menu {
    display: none;
  }
  .nav__content-container__close {
    display: none;
  }
  .nav__content-container__list {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 1.75rem;
  }
  .nav__content-container__list__page {
    width: 20%;
    display: block;
    font-weight: 700;
    margin-bottom: unset;
  }
  .nav__content-container__list__page:hover {
    color: black;
    border-bottom: 4px solid var(--oxy-blue);
  }
}
.pricing {
  padding: 3.75rem 2.57rem 3.31rem;
  text-align: center;
}
.pricing__title {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.pricing__tier-container__tier {
  border-radius: 1.125rem;
  padding-top: 1.57rem;
  padding-bottom: 1.93rem;
  padding-right: 0.63rem;
  margin-bottom: 3.375rem;
  border-style: solid;
  border-width: 1px;
}
.pricing__tier-container__tier--basic {
  border-color: var(--oxy-red);
}
.pricing__tier-container__tier--professional {
  border-color: var(--oxy-blue);
}
.pricing__tier-container__tier--premium {
  border-color: var(--oxy-green);
}
.pricing__tier-container__tier__left-side {
  width: 50%;
  height: 100%;
  display: inline-block;
  transform: translateY(-25%);
}
.pricing__tier-container__tier__left-side--1 {
  transform: translateY(-50%);
}
.pricing__tier-container__tier__left-side__name {
  font-size: 1.25rem;
  font-weight: 700;
}
.pricing__tier-container__tier__left-side__price {
  font-weight: 100;
}
.pricing__tier-container__tier__left-side__price--1 {
  font-size: 2.875rem;
  font-family: "Open Sans";
  color: var(--oxy-red);
}
.pricing__tier-container__tier__left-side__price--2 {
  font-size: 2.875rem;
  font-family: "Open Sans";
  color: var(--oxy-blue);
}
.pricing__tier-container__tier__left-side__price--3 {
  font-size: 2.875rem;
  font-family: "Open Sans";
  color: var(--oxy-green);
}
.pricing__tier-container__tier__left-side__limited {
  font-weight: 600;
  font-size: 0.75rem;
}
.pricing__tier-container__tier__list {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  font-family: "Open Sans";
  font-size: 0.875rem;
}
.pricing__tier-container__tier__list__item {
  margin-bottom: 1.25rem;
}
.pricing__tier-container__tier__list__item--checkbox img {
  margin-right: 0.625rem;
}
.pricing__tier-container__tier__button {
  position: absolute;
  display: block;
  color: white;
  padding: 1rem 3.598rem;
  border: 0;
  border-radius: 1.438rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Open Sans";
  cursor: pointer;
}
.pricing__tier-container__tier__button--basic {
  background-color: var(--oxy-red);
}
.pricing__tier-container__tier__button--professional {
  background-color: var(--oxy-blue);
}
.pricing__tier-container__tier__button--premium {
  background-color: var(--oxy-green);
}

@media only screen and (min-width: 1000px) {
  .pricing__title {
    margin-bottom: 3.125rem;
  }
  .pricing__tier-container {
    display: flex;
    justify-content: space-around;
  }
  .pricing__tier-container__tier {
    width: 23%;
    padding-right: unset;
    padding-bottom: unset;
    transition: transform 150ms 0ms linear, box-shadow 500ms 0ms linear;
  }
  .pricing__tier-container__tier:hover {
    transform: scale(1.15);
    transition: transform 200ms 0ms linear, box-shadow 100ms 0ms linear;
  }
  .pricing__tier-container__tier--basic:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-red-hover);
  }
  .pricing__tier-container__tier--professional:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-blue-hover);
  }
  .pricing__tier-container__tier--premium:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-green-hover);
  }
  .pricing__tier-container__tier__left-side {
    display: block;
    margin-left: 50%;
    transform: translate(-50%);
    height: unset;
    margin-bottom: 3.125rem;
  }
  .pricing__tier-container__tier__left-side--1 {
    margin-bottom: 4.312rem;
  }
  .pricing__tier-container__tier__list {
    text-align: center;
  }
  .pricing__tier-container__tier__button {
    position: relative;
    top: 1.5rem;
  }
  .pricing__tier-container__tier__button--basic:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-red-hover);
  }
  .pricing__tier-container__tier__button--professional:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-blue-hover);
  }
  .pricing__tier-container__tier__button--premium:hover {
    box-shadow: 0.312rem 0.625rem 1.688rem 0px var(--oxy-green-hover);
  }
}
@media only screen and (min-width: 1200px) {
  .pricing {
    padding-left: 10%;
    padding-right: 10%;
  }
  .pricing__tier-container__tier {
    width: 27%;
  }
}
.facts {
  padding-bottom: 3.125rem;
  margin-top: 3rem;
  text-align: center;
}
.facts__title {
  width: 75%;
  font-size: 1.875rem;
  font-family: Raleway;
  font-weight: 200;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.56rem;
}
.facts__item-container__item {
  margin-bottom: 1.5rem;
}
.facts__item-container__item__svg {
  margin-bottom: 1.1rem;
}
.facts__item-container__item__svg__elipse {
  transform: translate(50%, 10%);
}
.facts__item-container__item__svg__elipse--1 {
  transform: translate(38%, 8%);
}
.facts__item-container__item__svg__elipse--2 {
  transform: translate(57%, 10%);
}
.facts__item-container__item__svg__person {
  transform: translate(-29%, -5%);
}
.facts__item-container__item__svg__eye {
  transform: translate(-16%, -20%);
}
.facts__item-container__item__svg__catalog {
  transform: translate(-7.5%, -9%);
}
.facts__item-container__item__number {
  letter-spacing: 0.37rem;
  margin-bottom: 1.18rem;
  font-size: 1.25rem;
  font-weight: 800;
}
.facts__item-container__item__text {
  color: var(--oxy-light-gray);
  font-size: 1.063rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.facts__item-container__item__text--2 {
  font-size: 1rem;
  width: 40%;
}
.facts__item-container__item__text--3 {
  width: 35%;
}

@media only screen and (min-width: 1000px) {
  .facts {
    margin-top: 0;
  }
  .facts__title {
    margin-bottom: 4.5rem;
  }
  .facts__item-container {
    padding-left: 18%;
    padding-right: 18%;
    display: flex;
    justify-content: space-between;
  }
  .facts__item-container__item {
    text-align: center;
  }
  .facts__item-container__item__svg__elipse {
    transform: translate(35%, 10%);
  }
  .facts__item-container__item__svg__elipse--1 {
    transform: translate(20%, 10%);
  }
  .facts__item-container__item__svg__elipse--3 {
    transform: translate(25%, 10%);
  }
  .facts__item-container__item__svg__person {
    transform: translate(-55%);
  }
  .facts__item-container__item__svg__eye {
    transform: translate(-35%, -20%);
  }
  .facts__item-container__item__svg__catalog {
    transform: translate(-35%, -7.5%);
  }
  .facts__item-container__item__text {
    width: 100%;
    margin-left: 45%;
  }
  .facts__item-container__item__text--2, .facts__item-container__item__text--3 {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .facts__item-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}
.return-top {
  display: none;
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 10%;
  background-color: var(--oxy-blue);
  border: 0;
  border-radius: 25px;
  height: 50px;
  width: 15%;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem var(--oxy-blue-shadow);
  transition: transform 100ms linear, border 1000ms linear;
}
.return-top:hover {
  transform: scale(1.1);
}
.return-top__icon {
  color: white;
}

.shown {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .return-top {
    width: 6.25rem;
  }
}
.pop-up-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  border: 1px solid var(--oxy-blue);
  border-radius: 1.125rem;
  background-color: white;
  padding: 2rem 7.5%;
  box-shadow: inset 0 0 5px var(--oxy-blue), 5px 0 10px rgba(0, 0, 0, 0.5);
}
.pop-up-modal__title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.pop-up-modal__close {
  position: absolute;
  right: 5%;
  top: 1rem;
  color: var(--oxy-blue);
}
.pop-up-modal__description {
  margin-bottom: 2rem;
}
.pop-up-modal__input {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid var(--input-border-color);
}
.pop-up-modal__policies {
  margin-bottom: 1rem;
}
.pop-up-modal__button-container {
  display: flex;
  justify-content: center;
}
.pop-up-modal__button-container__button {
  margin-top: 0.5rem;
  border-radius: 2.5rem;
  color: white;
  background-color: var(--oxy-light-blue);
  border: 0;
  padding: 0.5rem 2rem;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem var(--oxy-blue-shadow);
}

@media only screen and (min-width: 1000px) {
  .pop-up-modal {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .pop-up-modal__title {
    font-size: 1.8rem;
  }
  .pop-up-modal__close {
    right: 3rem;
    top: 3rem;
    cursor: pointer;
  }
  .pop-up-modal__button-container__button {
    font-size: 1rem;
    padding: 3% 5%;
    cursor: pointer;
  }
}
.hidden {
  display: none;
}

.selected {
  background-color: #08A6E4 !important;
  color: white !important;
}

.pricing__currencies--mobile {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem !important;
  background-color: #08A6E4;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem rgba(7, 172, 230, 0.2901960784);
  border: 0;
  color: white;
  border-radius: 1.438rem;
  font-family: "Open Sans";
  cursor: pointer;
}
.pricing__currencies--desktop {
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  justify-content: space-between;
}
.pricing__currencies__button {
  margin-bottom: 3.125rem;
  color: #08A6E4;
  background-color: white;
  padding: 1rem 3.598rem;
  border: 1px solid #08A6E4;
  box-shadow: 0.31rem 0.625rem 0.875rem 0rem rgba(7, 172, 230, 0.2901960784);
  border-radius: 1.438rem;
  font-family: "Open Sans";
  cursor: pointer;
}

.hidden {
  display: none;
}

.slider {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 1% 1.5%;
  cursor: pointer;
  color: white;
  background-color: #08A6E4;
  border: 1px solid #08A6E4;
  box-shadow: inset -0.625rem -0.625rem 0.875rem 0rem rgba(0, 0, 0, 0.0862745098), 0.625rem 0.625rem 0.875rem 0rem rgba(0, 0, 0, 0.337254902);
}
.slider__btn--left {
  left: 10%;
}
.slider__btn--right {
  right: 10%;
}
.slider__btn__icon {
  color: white;
  font-size: 1rem;
}
.slider__image-container {
  display: flex;
  justify-content: center;
}
.slider__image-container__image {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .slider__btn {
    padding: 1.5% 1.5%;
  }
  .slider__btn--left {
    left: 30%;
  }
  .slider__btn--right {
    right: 30%;
  }
  .slider__btn__icon {
    font-size: 24px;
  }
  .slider__image-container {
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
