* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
}

:root {
  --oxy-red: #EB476E;
  --oxy-blue: #07ACE6;
  --oxy-green: #55DFB4;
}

.benefits {
  text-align: center;
  padding: 2.62rem 1.875rem;
  background-color: #F7F7F7;
}
.benefits__item1 {
  background-color: white;
  padding-top: 2.32rem;
  padding-bottom: 1.875rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin-bottom: 41px;
}
.benefits__item1__image-container {
  margin-bottom: 27px;
}
.benefits__item1__image-container__elipse {
  transform: translate(150%, -40%);
}
.benefits__item1__image-container__image {
  width: 192px;
  height: 109.93px;
  transform: translate(-30%);
}
.benefits__item1__text-container {
  text-align: left;
}
.benefits__item1__text-container__title {
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 400;
}
.benefits__item1__text-container__text {
  font-size: 14px;
}
.benefits__item1__text-container__line {
  display: none;
}
.benefits__item2 {
  background-color: white;
  padding-top: 0.75rem;
  padding-bottom: 1.875rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  margin-bottom: 41px;
}
.benefits__item2__image-container {
  margin-bottom: 27px;
}
.benefits__item2__image-container__image {
  transform: translateX(15%);
}
.benefits__item2__text-container {
  text-align: left;
}
.benefits__item2__text-container__title {
  width: 70%;
  margin-bottom: 1.06rem;
  font-size: 30px;
  font-weight: 400;
}
.benefits__item2__text-container__text {
  font-size: 14px;
}
.benefits__item2__text-container__line {
  display: none;
}
.benefits__item3 {
  background-color: white;
  text-align: left;
  padding-top: 1.94rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.benefits__item3__title {
  width: 87%;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 1.65rem;
}
.benefits__item3__description {
  width: 87%;
}
.benefits__trumpet-container {
  background-color: #55DFB4;
}
.benefits__trumpet-container__image {
  transform: translateY(15%);
}

.main {
  text-align: center;
}
.main__cta__title {
  font-size: 35px;
  margin-bottom: 20px;
}
.main__cta__text {
  margin-bottom: 28px;
  line-height: 23px;
}
.main__cta__button {
  border-radius: 40px;
  color: white;
  background-color: #08A6E4;
  border: 0;
  padding: 1.375em 5.75em;
}
.main__image {
  width: 100%;
  margin-bottom: 40px;
}
.main__facts__title {
  font-size: 1.875em;
  margin-bottom: 1.56em;
}
.main__facts__item {
  margin-bottom: 1.5em;
}
.main__facts__item__svg {
  margin-bottom: 1em;
}
.main__facts__item__svg__elipse1 {
  transform: translate(40%, 10%);
}
.main__facts__item__svg__elipse {
  transform: translate(50%, 10%);
  width: 62.71px;
  height: 62.71px;
}
.main__facts__item__svg__person {
  transform: translate(-15%);
  width: 44px;
  height: 52px;
}
.main__facts__item__svg__eye {
  transform: translate(-20%, -30%);
  width: 61px;
  height: 33px;
}
.main__facts__item__svg__catalog {
  transform: translate(-7.5%, -7.5%);
}
.main__facts__item__number {
  margin-bottom: 1.18em;
  font-weight: 800;
}

.nav {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1em 1.5em;
  margin-bottom: 100px;
}
.nav__logo {
  display: inline-block;
  color: #08A6E4;
  font-size: 32px;
}
.nav__menu {
  text-align: right;
  color: #08A6E4;
}
.nav__list {
  display: inline-block;
}
.nav__list__page {
  display: none;
}

.pricing {
  padding: 3.75rem 2.57rem 3.31rem;
  text-align: center;
}
.pricing__title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.pricing__tier-container__tier {
  border-radius: 18px;
  padding-top: 1.57rem;
  padding-bottom: 1.93rem;
  padding-right: 0.63rem;
}
.pricing__tier-container__tier__left-side {
  width: 50%;
  display: inline-block;
}
.pricing__tier-container__tier__left-side__name {
  font-size: 20px;
}
.pricing__tier-container__tier__left-side__price {
  font-size: 46px;
}
.pricing__tier-container__tier__list {
  display: inline-block;
  list-style-type: none;
}
.pricing__tier-container__tier__list__item {
  margin-bottom: 20px;
}
.pricing__tier-container__tier__button {
  display: block;
  color: white;
  padding: 1rem 3.5rem;
  border: 0;
  background-color: var(--oxy-red);
  border-radius: 23px;
  margin-left: 50%;
  transform: translate(-50%, -65%);
}
.pricing__tier-container #tier1 {
  border: 1px solid var(--oxy-red);
}
.pricing__tier-container #price1 {
  color: var(--oxy-red);
}
.pricing__tier-container #button1 {
  background-color: var(--oxy-red);
}
.pricing__tier-container #tier2 {
  border: 1px solid var(--oxy-blue);
}
.pricing__tier-container #price2 {
  color: var(--oxy-blue);
}
.pricing__tier-container #button2 {
  background-color: var(--oxy-blue);
}
.pricing__tier-container #tier3 {
  border: 1px solid var(--oxy-green);
}
.pricing__tier-container #price3 {
  color: var(--oxy-green);
}
.pricing__tier-container #button3 {
  background-color: var(--oxy-green);
}

/*# sourceMappingURL=style.css.map */
